<footer class="bg-black text-white">
    <div style="height: 50px;"></div>
    <div class="container">
        <p class="fs-4 fw-bold text-center">"A Jedi uses Force for knowledge and defense, never for attack."</p>
        <p class="text-center">Always have legal authorization before conducting active reconnaissance or accessing sensitive information you discover.</p>
        <div style="height: 50px;"></div>
        <p class="text-center">
            algo
        </p>        
    </div>
    <div style="height: 50px;"></div>
</footer>