<!-- Required tags -->
<meta charset="utf-8">
<meta name="language" content="{{ .Lang }}">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- ViewPort-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- XSS Prevention -->
<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data:;"> -->
<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; frame-src 'self' youtube.com www.youtube.com; script-src 'self' 'unsafe-inline' youtube.com www.youtube.com;"> -->

<!-- Preload and Prefetch content -->
<!-- <link rel="preload" fetchpriority="high" as="image" href="/media/images/background/background.webp" type="image/webp"> -->
<link rel="preload" href="/fonts/sora.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/main.min.css" as="style" />
<link rel="preload" href="/main.min.js" as="script" />

<!-- Favicon -->
<link rel="icon" type="image/png" href="/media/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/media/favicon/favicon.svg" />
<link rel="shortcut icon" href="/media/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Ibrac" />
<link rel="manifest" href="/media/favicon/site.webmanifest" />

<!-- Sitemap -->
<link rel="sitemap" type="application/xml" title="Sitemap" href="https://ibrac.com.br/sitemap.xml">

<!-- CSS & JS-->
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<!-- SEO -->
<meta name="description" content="{{ .Description }}">
<meta name="robots" content="index, follow">