<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    {{- partial "head.html" . -}}
</head>
<body>
    {{- partial "header.html" . -}}
    <div style="height: 50px;"></div>
    
    <div style="height: 50px;"></div>
    <div class="container">
      <div class="row g-4">
        {{ range sort (where .Pages "File.BaseFileName" "ne" "_index") "Title" }}
          <div class="col-12 col-md-6 col-xl-4">
              <div class="h-100 card bg-black">
                  <div class="card-body">
                      <a href="{{ .Permalink }}" class="card-title text-primary text-decoration-none d-flex align-items-center">
                          <h3 class="fs-4">{{ .Title }}&nbsp;<span class="bi bi-arrow-right"></span></h3>
                      </a>
                      <p class="">{{ .Params.description }}</p>
                  </div>
              </div>
          </div>    
        {{ end }}
      </div>
    </div>
    <div style="height: 50px;"></div>
    
    

    {{- partial "footer.html" . -}}
</body>
</html>