<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    {{- partial "head.html" . -}}
</head>
<body style="overflow-x: hidden;">
    {{- partial "header.html" . -}}
    <div style="height: 50px;"></div>
    <section class="container d-flex flex-column align-items-center">
        <h1 class="mb-3 text-secondary text-center fw-semibold" style="font-size: 3em;">{{ .Title }}</h1>
        <p class="mb-3 text-center" style="max-width: 800px;">{{ .Description }}</p>
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
            {{ with .Parent }}
            <a class="m-2 btn btn-secondary" href="{{ .Permalink }}">Up a Level</a>
            {{ end }}
            <a class="m-2 btn btn-outline-secondary" href="https://github.com/casfergroup/pandora/tree/main/content/{{ .File.Path }}">Propose Changes</a>
        </div>
    </section>
    <div style="height: 50px;"></div>
    <div class="vw-100 border-top"></div>
    <section class="container cust-content">
        <h2>Resources</h2>
        <ul>
            {{ range .Params.links }}
            <li><a href="{{.}}">{{.}}</a></li>
            {{ end }}
        </ul>
        <h2>Kill Chain</h2>
        <ul class="list-unstyled">
            {{ range .Params.killchain }}
                {{ if eq . "recon" }}
                    <li><span class="fs-5 text-primary bi bi-binoculars"></span>&nbsp;<strong>Recognition</strong></li>
                {{ end }}
                {{ if eq . "weaponization" }}
                    <li><span class="fs-5 text-primary bi bi-wrench" title="Weaponization"></span>&nbsp;<strong>Weaponization</strong></li>
                {{ end }}
                {{ if eq . "delivery" }}
                    <li><span class="fs-5 text-primary bi bi-box-arrow-in-right" title="Delivery"></span>&nbsp;<strong>Delivery</strong></li>
                {{ end }}
                {{ if eq . "exploitation" }}
                    <li><span class="fs-5 text-primary bi bi-bug" title="Exploitation"></span>&nbsp;<strong>Exploitation</strong></li>
                {{ end }}
                {{ if eq . "installation" }}
                    <li><span class="fs-5 text-primary bi bi-download" title="Installation"></span>&nbsp;<strong>Installation</strong></li>
                {{ end }}
                {{ if eq . "c2" }}
                    <li><span class="fs-5 text-primary bi bi-diagram-3" title="Command & Control (C2)"></span>&nbsp;<strong>Command & Control (C2)</strong></li>
                {{ end }}
                {{ if eq . "objectives" }}
                    <li><span class="fs-5 text-primary bi bi-shield-x" title="Actions on Objectives"></span>&nbsp;<strong>Actions on Objectives</strong></li>
                {{ end }}
            {{ end }}
        </ul> 
    </section>
    <section class="container cust-content">
        {{ .Content }}        
    </section>
    
    <div style="height: 50px;"></div>
    {{- partial "footer.html" . -}}
</body>
</html>