{{ define "main" }}
{{ $data_index := index site.Data site.Language.Lang }}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    tooltipTriggerList.forEach(function (tooltipTriggerEl) {
      new bootstrap.Tooltip(tooltipTriggerEl);
    });
  });
</script>
<section class="bg-black">
    <div style="height: {{ .Site.Params.spacing_size }};"></div>
    <div class="container">
        <div>
            <h1 class="text-center text-primary">{{ T "members-list-s1-h1" }}</h1>
            <p class="text-center">{{ T "members-list-s1-p1" }}</p>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <a class="m-2 btn btn-primary" style="width: 200px;" href="/sobre/">Tornar-se membro</a>
            <a class="m-2 btn btn-outline-light" style="width: 200px;" href="https://github.com/casfergroup/pandora">btn 2</a>
        </div>
    </div>
    <div style="height: {{ .Site.Params.spacing_size }};"></div>
</section>
<section class="bg-black">
    <div style="height: {{ .Site.Params.spacing_size }};"></div>
    <div class="container">
        <div class="row">
            {{ range .Pages }}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="h-100 card bg-military-black">
                        <div class="card-body">
                            <div class="d-flex">
                                <img class="me-4 rounded" height="100px" width="100px" src="/media/images/members/{{ .Params.github }}.jpg" alt="Profile pic" onerror="this.onerror=null;this.src='/media/images/members/default.jpg';">
                                <div class="d-flex flex-column justify-content-between">
                                    <h3 class="m-0 ms-1 fs-5 fw-semibold">{{ .Title }}</h3>
                                    <div class="ms-1 d-flex">
                                        {{ range .Params.areas}}
                                            {{ partial "areas.html" (dict "context" .) }}
                                        {{ end }}
                                        {{ partial "roles.html" (dict "context" .Params.cargo) }}
                                    </div>
                                    <div class="d-flex">
                                        {{ range first 5 .Params.badges }}
                                            {{ $badgeKey := . }}
                                            {{ $badge := index $data_index.badges $badgeKey }}
                                            <img class="m-1" height="25px" width="25px" src="/media/images/badges/{{ $badge.icon }}" data-bs-toggle="tooltip" title="{{ $badge.title }}" alt="{{ $badge.title }}">
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                            <p class="my-3 small">{{ .Description }}</p>
                            <a class="btn btn-primary" href="{{ .Permalink }}">Ver perfil</a>
                        </div>
                    </div>
                </div>
                
            {{ end }}
        </div>
    </div>
    
    <div style="height: {{ .Site.Params.spacing_size }};"></div>
</section>
{{ end }}