{{ define "main" }}
<section class="bg-black">
    <div style="height: {{ .Site.Params.spacing_size }};"></div>
    <div class="container">
        <div>
            <h1 class="text-center text-primary">Nossos Membros</h1>
            <p class="text-center">Os membros da LICS são estudantes dedicados e apaixonados por tecnologia, segurança da informação e inovação. Cada integrante contribui com habilidades únicas, colaborando em projetos, eventos e competições que fortalecem nosso compromisso com a cibersegurança dentro e fora da universidade.</p>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <a class="m-2 fw-bold btn btn-primary" style="width: 200px;" href="/sobre/">Tornar-se membro</a>
            <a class="m-2 btn btn-outline-light" style="width: 200px;" href="https://github.com/casfergroup/pandora">btn 2</a>
        </div>
    </div>
    <div style="height: {{ .Site.Params.spacing_size }};"></div>
</section>
<section class="bg-black">
    <div style="height: {{ .Site.Params.spacing_size }};"></div>
    <div class="container">
        <div class="row">
            {{ range .Pages }}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card bg-military-black">
                        <div class="card-body">
                            <div class="d-flex">
                                <img class="me-4 rounded" height="100px" width="100px" src="/media/images/members/{{ .Params.github }}.jpg" alt="Profile pic" onerror="this.onerror=null;this.src='/media/images/members/default.jpg';">
                                <div>
                                    <h3 class="fs-4">{{ .Title }}</h3>
                                    <div class="my-2 d-flex">
                                        {{ range .Params.areas}}
                                            <span class="me-2 badge bg-primary text-black">{{ . }}</span>
                                        {{ end }}
                                        <span class="badge bg-secondary">{{ .Params.cargo }}</span>
                                    </div>
                                </div>
                            </div>
                            <p class="my-3 small">{{ .Description }}</p>
                            <a class="btn btn-primary fw-bold" href="{{ .Permalink }}">Ver perfil</a>
                        </div>
                    </div>
                </div>
                
            {{ end }}
        </div>
    </div>
    
    <div style="height: {{ .Site.Params.spacing_size }};"></div>
</section>
{{ end }}