{{ define "main" }}
  <section class="vh-100 p-2 container d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-primary text-center fw-semibold" style="font-size: 2.5em;">
            {{ T "home-s1-h1" }}
        </h1>
        <p class="text-center" style="max-width: 800px;">
            {{ T "home-s1-p1" }}
        </p>
        <div class="d-flex flex-wrap justify-content-center">
            <a class="m-2 btn btn-primary" style="width: 150px;" href="/sobre/">btn 1</a>
            <a class="m-2 btn btn-outline-light" style="width: 150px;" href="https://github.com/casfergroup/pandora">btn 2</a>
        </div>
    </section>
{{ end }}
