<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <main>
    <section class="vh-100 p-2 container-fluid d-flex flex-column justify-content-center align-items-center position-relative text-white overflow-hidden">
        <video autoplay muted loop playsinline class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover z-n1">
            <source src="/media/videos/background/background.mp4" type="video/mp4">
            Seu navegador não suporta vídeos HTML5.
        </video>

        <div class="position-absolute top-0 start-0 w-100 h-100 bg-military-black z-0" style="opacity: 90%;"></div>

        <div class="z-1 ">
            <div class="text-center px-3">
              <img height="300px" width="300px" src="/media/images/logo/logo.png" alt="Logo LICS">
              <h1 class="text-primary fw-semibold" style="font-size: 2.5em;">
                  {{ T "home-s1-h1" }}
              </h1>
              <p class="fs-5" style="max-width: 800px; margin: 0 auto;">
                  {{ T "home-s1-p1" }}
              </p>
              <nav class="d-flex flex-wrap justify-content-center mt-4">
                  <a class="m-2 fs-semibold btn-large btn btn-primary" style="width: 150px;" href="/{{ .Lang }}/membros/">{{ T "home-s1-nav1" }}</a>
                  <a class="m-2 fs-semibold btn btn-primary" style="width: 150px;" href="/{{ .Lang }}/sobre/">{{ T "home-s1-nav2" }}</a>
                  <a class="m-2 fs-semibold btn btn-primary" style="width: 150px;" href="/{{ .Lang }}/eventos/">{{ T "home-s1-nav3" }}</a>
                  <a class="m-2 fs-semibold btn btn-outline-light" style="width: 150px;" href="/{{ .Lang }}/contato/">{{ T "home-s1-nav4" }}</a>
              </nav>
            </div>
        </div>
    </section>
  </main>
</body>
</html>
