* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000000;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: rgba(0, 0, 0, 0.842);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img{
    width: 9%;
    margin-right: 2vh;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links a {
    color: #e7e7e7;
    text-decoration: none;
    font-weight: 500;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    color: #9fef00;
    transform: scale(1.1);
}

