@font-face {
    font-family: 'lexend'; /* A name you choose for your font */
    src: url('/fonts/Lexend-VariableFont_wght.woff') format('woff'); 
    font-style: normal; 
    font-display: swap;
}

* {
    font-family: "lexend", sans-serif !important; /* Fallback to a generic sans-serif font */
  }

body {
  background-color: black;
}

a {
  overflow-wrap: break-word;
}

.cust-content h2 {
  margin-top: 4rem !important;
}

.cust-content h3 {
  margin-top: 3rem !important;
}

.cust-content h4 {
  margin-top: 2\rem !important;
}

.cust-content p img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
}